* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Orbitron';
  font-size: 50px;
  margin-top: 50px;
}

.field {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  justify-content: center;
}

.field:first-child {
  color: red;
}

.field:nth-child(2) {
  color: tomato;
}

.field:nth-child(3) {
  color: yellow;
}

.field:last-child {
  color: green;
}

.value {
  margin: auto;
}
